
[Unit]
Description=Tunnel to webparametrics allowing remote access
After=network.target

[Service]
User=bernard
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/ssh -NT -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -R 8888:localhost:22 bernard@webparametrics.co.uk

# Connects standard output to /dev/null
StandardOutput=null

# Connects standard error to journal
StandardError=journal

[Install]
WantedBy=multi-user.target

